@import "hamburger";
@import "close";

@media screen and (max-width: 800px) {
  * {
    margin: 0;
    padding: 0;
  }

  .desk-visible {
    display: none;
  }

  .overlay {
    z-index: 1;
    height: 80vh;
  }

  .overlay.active {
    transition: all 100ms ease;
    background: linear-gradient(
      to bottom,
      rgba(5, 1, 22, 0.949),
      rgba(5, 1, 22, 0.349),
      rgba(5, 1, 22, 0)
    );
  }

  //  ---------------------NAV----------------------------
  nav {
    position: relative;
    z-index: 2;
    grid-template-areas: "logo ham";
    height: 9vh;
    padding: 0rem 1.5rem;
    width: 100%;
    margin: 0 auto;
    place-items: center;
    align-items: center;
    justify-content: space-between;
    transition: all 200ms ease;

    .cta-btn {
      display: none;
    }
  }

  .navs {
    background-color: white;
    position: absolute;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 40vh;
    margin: 11.5vh 1rem 0 1rem;
    border-radius: 10px;
    z-index: -1;

    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      height: 100%;
      padding: 0.5rem 0;

      li {
        display: flex;

        a {
          color: var(--Dark-Blue);
          font-family: "Public Sans", sans-serif;
          font-size: 20px;
          font-weight: 600;
        }
      }
    }
  }

  .navs.active {
    transition: all 200ms ease;
    display: flex;
    animation-name: slideAnim;
    animation-duration: 1s;
  }
  // -----------------------ANIMAtIONS
  @keyframes slideAnim {
    from {
      transform: translateY(-11.5vh);
    }

    to {
      transform: translateY(0);
    }
  }

  .visible {
    display: unset;
  }

  .logo {
    z-index: 2;
  }

  .hamburger-container {
    z-index: 2;
  }

  .hamburger-container svg {
    grid-area: "ham";
  }

  //  ------------------------MAIN-------------------------------

  main {
    position: relative;
    margin: 0;
    padding: 0;
    grid-template-columns: 100vw;
    grid-template-rows: 61vh 50vh;
  }

  .intro-img {
    grid-column: 1/2;
    grid-row: 1/2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    .bg {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      object-fit: contain;
    }

    .mobile {
      width: 95%;
      position: absolute;
      top: -120px;
      left: 0;
    }
  }

  .title {
    text-align: center;
    margin: 0;
    padding: 0 1rem;
    grid-column: 1/2;
    grid-row: 2/3;
    display: unset;

    h1 {
      font-size: 35px;
      font-weight: 400;
    }

    P {
      font-size: 17px;
    }
  }

  //----------------------------------BENEFITS--------------------------

  .benifits-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 40px;
    padding: 4rem 1rem;
    text-align: center;

    P {
      font-size: 17px;
    }
  }

  .why {
    grid-column: 1/2;
    grid-row: 1/2;

    h2 {
      font-size: 35px;
      font-weight: 400;
    }

    P {
      font-size: 17px;
    }
  }

  .banking {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .budgeting {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .onboarding {
    grid-column: 1/2;
    grid-row: 4/5;
  }

  .api {
    grid-column: 1/2;
    grid-row: 5/6;
  }

  //--------------------------ARTICLES----------------------

  .articles-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25vh 1fr 1fr 1fr 1fr;
    padding: 0 0 4rem 0;
    text-align: center;
    place-items: center;
    justify-content: center;

    img {
      max-width: 100%;
      min-height: 100%;
      margin: auto;
      display: block;
      border-radius: 6px;
    }

    h2 {
      color: var(--Dark-Blue);
      font-size: 35px;
      font-weight: 400;
      padding: 4rem 0;
    }

    .article-title {
      grid-column: 1/2;
      grid-row: 1/2;
    }
    .c-rob {
      grid-column: 1/2;
      grid-row: 2/3;
      img {
        height: 50%;
        width: 100%;
      }
    }
    .w-hutt {
      grid-column: 1/2;

      grid-row: 3/4;
      img {
        height: 50%;
      }
    }

    .w-hutt-2 {
      grid-column: 1/2;

      grid-row: 4/5;
      img {
        height: 50%;
      }
    }

    .c-rob-2 {
      grid-column: 1/2;

      grid-row: 5/6;
      img {
        height: 50%;
      }
    }
  }

  .a-common {
    width: 300px;
  }

  //------------------FOOTER------------------

  .f-container {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 3rem;
    height: auto;
    align-items: center;
    place-items: center;
    text-align: center;
  }

  .f-logo {
    margin-bottom: 30px;
  }

  .f-icons {
    margin-bottom: 30px;
  }

  .f-links {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    margin-bottom: 30px;
  }

  .f-links-1 li:nth-child(3) {
    margin-bottom: 10px;
  }

  .f-button {
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

// .f-logo {
//   grid-area: "f-logo";
//   grid-column: 1/2;
//   grid-row: 1/2;
// }

// .f-icons {
//   display: flex;
//   grid-area: "f-icons";
//   grid-column: 1/2;
//   grid-row: 2/3;
// }

// .f-links {
//   grid-column: 2/4;
//   grid-row: 1/3;
//   display: grid;
//   align-self: center;
//   grid-template-areas: "f-links-1 f-links-2";
// }

// .f-links-1 {
//   grid-area: "f-links-1";
// }

// .f-links-2 {
//   grid-area: "f-links-2";
// }

// .f-button {
//   grid-area: "f-button";
//   grid-column: 4/5;
//   grid-row: 1/2;
//   margin-bottom: 1.5rem;
// }

// .f-copyRight {
//   display: flex;
//   justify-content: flex-end;
//   grid-area: "f-copyRight";
//   grid-column: 4/5;
//   grid-row: 2/3;
//   color: var(--Grayish-Blue);
//   font-weight: 300;
// }
